body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}




.heading {
    border: 3px solid black;
    background-color: orange;
    width: 100%;
    height: 80px;
    top: 0px;
}

.search {
    margin-left: 403px;
    margin-top: -60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

input {
    width: 800px;
    height: 25px;
}




.subheading {
    border: 2px solid black;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
}

.icon {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
    margin-top: 5px;
}

.searchbutton {
    border-radius: 10px;
    width: 80px;
    height: 40px;
    margin-top: 1px;
    position: absolute;
}

.menu {
    margin-left: 35px;
    margin-top: -20px;
}

.optionlist a {
    color: white;
    list-style: none;
    margin-left: 200px;
    text-decoration: none;
}

.optionlist {
    margin-top: -20px;
}




#popup1 {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.button {
    font-size: 1em;
    padding: 10px;
    background-color: deeppink;
    margin-left: 1200px;
    margin-top: -29px;
    height: 17px;
    width: 50px;
    position: absolute;
    color: #fff;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}
.purple-box {
    background-color: deeppink;
    height: 550px;
    width: 700px;
    position: relative;
    margin-top: 80px;
    margin-left: 400px;
}

.purple-box img {
    margin-left: 270px;
    margin-top: 30px;
    border-radius: 150px;
    height: 150px;
    width: 150px;
}

.login-form {
    position: relative;
    text-align: center;
    margin: 10px;
    color: white;
    margin-bottom: 0px;
}

.login-form input {
    background-color: white;
    width: 500px;
    height: 50px;
    border-radius: 50px;
}

.login-form button {
    background-color: white;
    margin-top: 20px;
    height: 20px;
}

.remember-me {
    color: black;
}

.submit button {
    background-color: orange;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    margin-left: -200px;
    font-weight: 800;
}

.forget {
    color: black;
    text-decoration: underline;
    margin-top: -30px;
    position: absolute;
}




.salesimage {
    margin-top: 20px;
    margin-left: 150px;
    border: 5px solid orange;
}

.container {
    color: black;
    border: 8px solid rgb(0, 0, 0);
    height: 300px;
    margin: 30px;
    padding: 100px;
    background-color: rgba(255, 166, 0, 0.767);
}

#tv {
    width: 200px;
    height: 30px;
    margin-right: 50px;
    margin-top: 20px;
}

#rate {
    width: 190px;
    margin-top: 145px;
    margin-left: 275px;
}
.size{
    margin-left: 150px;
    
}
#tv{
    margin-left: 80px;
    
}
.bdgt{
    margin-left: 150px;
    position: absolute;
    margin-top: 150px;
    
}
.rs{
    margin-left: 475px;
    margin-top: -25px;
    
}
.check-size{
    margin-left: 525px;
    margin-top: -22px;
    position: absolute;
    text-decoration: none;
    background-color: black;
    color: greenyellow;
    border: 4px solid black;
}
.check-size:hover{
    color: red;
}
.output-display{
    margin-top: 100px;
    margin-left: -420px;
    position: absolute;
}

#discount-rate{
    margin-left: 200px;
    background-color: greenyellow;
    margin-top: 50px;
    
}
#budget-tv{
    background-color: greenyellow;
    margin-left: 150px;
}
.buy{
    color: white;
    background-color: black;
    margin-left: 800px;
    margin-top: 20px;
    position: absolute;
    width: 100px;
    height: 30px;
}
.buy:hover{
    color: greenyellow;
}
.offer-price{
    background-color: black;
    color: greenyellow;
    height: 30px;
    margin-left: -50px;
    border: 4px solid black;
    text-decoration: none;
}
.offer-price:hover{
    color: red;
    
}